<div class="page-content-wrapper row-width">
    <div class="page-title">
        <h5>Settings</h5>
    </div>
    <div class="page-content">
        <div class="card">
            <div class="card-body p-2">
                    <tabset>
                    <tab heading="Towns" id="tab1"><app-towns ></app-towns></tab>
                    <tab heading="Credentials"><app-credentials></app-credentials></tab>
                    </tabset>
                <!-- <ngb-tabset type="pills">
                    <ngb-tab title="Towns">
                        <ng-template ngbTabContent>
                        <app-towns ></app-towns>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Credentials">
                        <ng-template ngbTabContent>
                        <app-credentials></app-credentials>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset> -->
            </div>
        </div>
    </div>
</div>
