.example {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img {
    width: 490px;
    height: 290px;
    background-image: url('https://demos.telerik.com/kendo-ui/content/web/colorpicker/motor.png');
}
.wrapper {
    margin-top: 10px;
}