.eqSlider {
    display: inline-block;
    margin: 2em;
    height: 122px;
    vertical-align: top;
}

.eqSlider p {
    padding-top: 10px;
}
.k-textbox {
    width: 350px;
}
.k-textbox .send-button {
    color: #ff6358;
    width: 44px;
}
input[type=radio] { margin-right: 16px; }

.customizing-label {
    display: block;
    margin-bottom: 8px;
}