<div class="page-content-wrapper row-width">
  <div class="page-title">
    <h5>Manage Users</h5>
  </div>
  <div class="page-content row">
    <div class="col">
      <div class="card p-2">
        <div class="card-title">
          <a class="btn btn-success btn-sm" (click)="open(content)">
            <i class="fa fa-plus"></i> Add New
          </a>
        </div>
        <div class="card-body pl-0 pr-0">
          <table class="table table-responsive-custom table-bordered">
            <thead class="thead-light">
              <tr>
                <th scope="col">User</th>
                <th scope="col">Town</th>
                <th scope="col">Active</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let workflowuser of workflowusers">
                <td>
                  {{ workflowuser.user }}
                </td>
                <td>{{ workflowuser.town }}</td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [attr.checked]="workflowuser.active ? 'checked' : null"
                      class="custom-control-input" id="customSwitches" />
                    <label class="custom-control-label" for="customSwitches" (click)="changeStatus()"></label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refreshWorkflows()">
          </ngb-pagination>
          <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshWorkflows()">
            <option [ngValue]="10">10</option>
            <option [ngValue]="15">15</option>
            <option [ngValue]="20">20</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h6 class="modal-title text-primary" id="modal-basic-title">Add New User</h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="userName">Name</label>
        <input type="text" class="form-control" id="userName" placeholder="" />
      </div>
      <div class="form-group">
        <label for="userEmail">Email</label>
        <input type="email" class="form-control" id="userEmail" placeholder="" />
      </div>
      <div class="form-group">
        <label for="userTown">Town</label>
        <select class="form-control" id="userTown">
          <option *ngFor="let town of towns" [value]="town.value">
            {{ town.label }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="userPassword">Password</label>
        <input type="password" class="form-control" id="userPassword" placeholder="" />
      </div>
      <div class="form-group">
        <label for="userConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="userConfirmPassword" placeholder="" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">
      Add
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
      Cancel
    </button>
  </div>
</ng-template>