// LAYOUT

$panel-bg: #313d46;
$border-color: #4f5d68;
$main-text: #ced4da;
$content-bg: #2a3137;

$primary-color: #00578e;
$secondary-color: #45515a;
$success-color: #7db781;
$info-color: #6193ad;
$warning-color: #c19368;
$danger-color: #d38787;
$default-color: #3e484d;
$primary-color-light: #14689c;
$input-disabled-bg: #3a444c;

.switch {
    > span{
    background-color:   $content-bg;
    border: 1px solid $border-color;
    }
}

input[type="checkbox"],
input[type="radio"] {
    background-color: $content-bg;
    border: 1px solid $border-color;
}

.switch {
    span:after {
    background-color: $content-bg;
    border: 1px solid $border-color;
    }
}

.switch input:checked + span {
    background-color: $primary-color-light;
    border-color: $primary-color-light;
}

::-webkit-scrollbar {
    background-color: $secondary-color;
}
::-webkit-scrollbar-track {
    border: 1px solid $border-color;
    border-top: none;
    background-color: $secondary-color;
    border-bottom: none;
}
::-webkit-scrollbar-thumb {
    background: #8a949c;
    border-radius: 6px;
    border: 1px solid $border-color;
}
::-webkit-scrollbar-corner {
    background-color: $content-bg;
    border-color: $border-color;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: $content-bg;
}