<div class="content-heading">
    <div>Charts</div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card card-default">
           <div class="card-header">Line</div>
           <div class="card-body">             
            <kendo-chart>
                <kendo-chart-title text="Units sold" color="#909FA7"></kendo-chart-title>
                <kendo-chart-axis-defaults 
                  [background]="background"
                  [color]="color"
                  [crosshair]="crosshair"
                  [labels]="labels"
                  [line]="line"
                  [majorGridLines]="majorGridLines"
                  [minorGridLines]="minorGridLines"
                  [majorTicks]="majorTicks"
                  [minorTicks]="minorTicks"
                  [title]="title"
                  >                  
                </kendo-chart-axis-defaults>
                <kendo-chart-category-axis>
                    <kendo-chart-category-axis-item
                        [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"
                        [title]="{ text: 'Months' }">
                    </kendo-chart-category-axis-item>                    
                </kendo-chart-category-axis>
                <kendo-chart-series>
                  <kendo-chart-series-item type="line" [data]="[123, 276, 310, 212, 240, 156, 98]">
                  </kendo-chart-series-item>
                  <kendo-chart-series-item type="line" [data]="[165, 210, 287, 144, 190, 167, 212]">
                  </kendo-chart-series-item>
                  <kendo-chart-series-item type="line" [data]="[56, 140, 195, 46, 123, 78, 95]">
                  </kendo-chart-series-item> 
                </kendo-chart-series>              
                <kendo-chart-area background="transparent"></kendo-chart-area>    
              </kendo-chart>
           </div>
        </div>  
    </div>
    <div class="col-xl-6">
        <div class="card card-default">
           <div class="card-header">Bar </div>
           <div class="card-body">             
            <kendo-chart>
                <kendo-chart-title text="Units sold" color="#909FA7"></kendo-chart-title>
                <kendo-chart-axis-defaults 
                  [background]="background"
                  [color]="color"
                  [crosshair]="crosshair"
                  [labels]="labels"
                  [line]="line"
                  [majorGridLines]="majorGridLines"
                  [minorGridLines]="minorGridLines"
                  [majorTicks]="majorTicks"
                  [minorTicks]="minorTicks"
                  [title]="title"
                  >                  
                </kendo-chart-axis-defaults>
                <kendo-chart-category-axis>
                    <kendo-chart-category-axis-item [categories]="['Q1', 'Q2', 'Q3', 'Q4']">
                    </kendo-chart-category-axis-item>                 
                </kendo-chart-category-axis>
                <kendo-chart-series>
                  <kendo-chart-series-item type="bar" [gap]="2" [spacing]=".25" [data]="[100, 123, 234, 343]">
                  </kendo-chart-series-item>
                  <kendo-chart-series-item type="bar" [data]="[120, 67, 231, 196]">
                  </kendo-chart-series-item>
                  <kendo-chart-series-item type="bar" [data]="[45, 124, 189, 143]">
                  </kendo-chart-series-item>
                  <kendo-chart-series-item type="bar" [data]="[87, 154, 210, 215]">
                  </kendo-chart-series-item>
                </kendo-chart-series>
                <kendo-chart-area background="transparent"></kendo-chart-area>    
              </kendo-chart>
           </div>
        </div>  
    </div>
    <div class="col-xl-6">
        <div class="card card-default">
           <div class="card-header">Area</div>
           <div class="card-body">             
            <kendo-chart>
                <kendo-chart-title text="Units sold" color="#909FA7"></kendo-chart-title>
                <kendo-chart-axis-defaults 
                  [background]="background"
                  [color]="color"
                  [crosshair]="crosshair"
                  [labels]="labels"
                  [line]="line"
                  [majorGridLines]="majorGridLines"
                  [minorGridLines]="minorGridLines"
                  [majorTicks]="majorTicks"
                  [minorTicks]="minorTicks"
                  [title]="title"
                  >                  
                </kendo-chart-axis-defaults>
                <kendo-chart-category-axis>
                    <kendo-chart-category-axis-item
                        [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"
                        [title]="{ text: 'Months' }">
                    </kendo-chart-category-axis-item>
                </kendo-chart-category-axis>        
                <kendo-chart-series-defaults [highlight]="{ inactiveOpacity: 0.3 }">
                </kendo-chart-series-defaults>        
                <kendo-chart-series>
                  <kendo-chart-series-item type="area" [data]="[123, 276, 310, 212, 240, 156, 98]">
                  </kendo-chart-series-item>
                  <kendo-chart-series-item type="area" [data]="[165, 210, 287, 144, 190, 167, 212]">
                  </kendo-chart-series-item>
                  <kendo-chart-series-item type="area" [data]="[56, 140, 195, 46, 123, 78, 95]">
                  </kendo-chart-series-item>
                </kendo-chart-series>                
                <kendo-chart-area background="transparent"></kendo-chart-area>    
              </kendo-chart>
           </div>
        </div>  
    </div>
  <div class="col-xl-6">
      <div class="card card-default">
          <div class="card-header">Pie</div>
          <div class="card-body">             
              <kendo-chart>    
                <kendo-chart-title text="World Population by Broad Age Groups" color="#909FA7"></kendo-chart-title>  
                  <kendo-chart-legend [position]="'bottom'"></kendo-chart-legend>
                  <kendo-chart-series>
                    <kendo-chart-series-item
                        type="pie"
                        [data]="pieData"
                        field="value"
                        categoryField="category"
                        [labels]="{ visible: true, content: labelContent }"
                    >
                    </kendo-chart-series-item>
                  </kendo-chart-series>                  
                  <kendo-chart-area background="transparent"></kendo-chart-area>    
              </kendo-chart>
          </div>
      </div>  
  </div>
  <div class="col-xl-6">
      <div class="card card-default">
          <div class="card-header">Donut</div>
          <div class="card-body">             
          <kendo-chart>
              <kendo-chart-series>
                <kendo-chart-series-item
                    type="donut" [data]="dataDonut"
                    categoryField="kind" field="share">
                  <kendo-chart-series-item-labels
                    [content]="labelContent"
                    color="#fff" background="none">
                  </kendo-chart-series-item-labels>
                </kendo-chart-series-item>
              </kendo-chart-series>
              <kendo-chart-legend [visible]="false"></kendo-chart-legend>
              <kendo-chart-area background="transparent"></kendo-chart-area>    
            </kendo-chart>
          </div>
      </div>  
  </div>
  <div class="col-xl-6">
    <div class="card card-default">
        <div class="card-header">Custom Legend Items</div>
        <div class="card-body">             
            <kendo-chart
                [ngClass]="{'hand-cursor': isOverLegend}"
                (legendItemHover)="isOverLegend = true;"
                (legendItemLeave)="isOverLegend = false;"
                >
                <kendo-chart-title text="Units sold" color="#909FA7"></kendo-chart-title>               
                <kendo-chart-axis-defaults 
                  [background]="background"
                  [color]="color"
                  [crosshair]="crosshair"
                  [labels]="labels"
                  [line]="line"
                  [majorGridLines]="majorGridLines"
                  [minorGridLines]="minorGridLines"
                  [majorTicks]="majorTicks"
                  [minorTicks]="minorTicks"
                  [title]="title"
                  >                  
                </kendo-chart-axis-defaults>
                <kendo-chart-category-axis>
                    <kendo-chart-category-axis-item
                        [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"
                        [title]="{ text: 'Months' }">
                    </kendo-chart-category-axis-item>
                </kendo-chart-category-axis>
                <kendo-chart-series>
                    <kendo-chart-series-item *ngFor="let series of data" [type]="series.type" [name]="series.name" [dashType]="series.dashType" [data]="series.data">
                    </kendo-chart-series-item>
                </kendo-chart-series>
                <kendo-chart-legend position="bottom" orientation="horizontal">
                    <kendo-chart-legend-item [visual]="labelsVisual" [cursor]="'pointer'">
                    </kendo-chart-legend-item>
                </kendo-chart-legend>
                <kendo-chart-area background="transparent"></kendo-chart-area>    
            </kendo-chart>
        </div>
    </div>  
  </div>
    <div class="col-xl-12">
        <div class="card card-default">
           <div class="card-header">Range </div>
           <div class="card-body">             
            <kendo-chart>
                <kendo-chart-title text="Average Weather Conditions" color="#909FA7"> </kendo-chart-title>  
                <kendo-chart-axis-defaults 
                  [background]="background"
                  [color]="color"
                  [crosshair]="crosshair"
                  [labels]="labels"
                  [line]="line"
                  [majorGridLines]="majorGridLines"
                  [minorGridLines]="minorGridLines"
                  [majorTicks]="majorTicks"
                  [minorTicks]="minorTicks"
                  [title]="title"
                  >                  
                </kendo-chart-axis-defaults>
                <kendo-chart-series>
                    <kendo-chart-series-item type="rangeArea"
                      [data]="weatherData" fromField="min" toField="max" categoryField="month">
                    <kendo-chart-series-item-labels-from [content]="labelContentFrom">
                    </kendo-chart-series-item-labels-from>
                    <kendo-chart-series-item-labels-to [content]="labelContentTo">
                    </kendo-chart-series-item-labels-to>
                  </kendo-chart-series-item>
                </kendo-chart-series>
                <kendo-chart-category-axis>
                    <kendo-chart-category-axis-item [labels]="{ rotation: 'auto' }">
                    </kendo-chart-category-axis-item>
                </kendo-chart-category-axis>
                <kendo-chart-tooltip>
                  <ng-template kendoChartSeriesTooltipTemplate let-value="value">
                    Avg Min Temp : {{ value.from }} °C <br>
                    Avg Max Temp : {{ value.to }} °C"
                  </ng-template>
                </kendo-chart-tooltip>
                <kendo-chart-area background="transparent"></kendo-chart-area>    
              </kendo-chart>   
           </div>
        </div>  
    </div>
    <div class="col-xl-12">
        <div class="card card-default">
           <div class="card-header">Waterfall </div>
           <div class="card-body">                       
            <kendo-chart>
              <kendo-chart-title  text="Cash flow" color="#909FA7"> </kendo-chart-title>  
              <kendo-chart-axis-defaults 
                [background]="background"
                [color]="color"
                [crosshair]="crosshair"
                [labels]="labels"
                [line]="line"
                [majorGridLines]="majorGridLines"
                [minorGridLines]="minorGridLines"
                [majorTicks]="majorTicks"
                [minorTicks]="minorTicks"
                [title]="title"
                >                  
              </kendo-chart-axis-defaults>
                <kendo-chart-series>
                  <kendo-chart-series-item type="waterfall"
                    [data]="cashFlowData" [color]="pointColor"
                    field="amount" categoryField="period" summaryField="summary">
                    <kendo-chart-series-item-labels format="C0" position="insideEnd">
                    </kendo-chart-series-item-labels>
                  </kendo-chart-series-item>
                </kendo-chart-series>
                <kendo-chart-value-axis>
                    <kendo-chart-value-axis-item [labels]="{ format: 'C0' }">
                    </kendo-chart-value-axis-item>                 
                </kendo-chart-value-axis>
                <kendo-chart-area background="transparent">
                </kendo-chart-area> 
              </kendo-chart>
           </div>
        </div>  
    </div>   
   
</div>


